In [1]:
# Importing Necessary Libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Loading the dataset

df = pd.read_csv('body-calories-burn.csv')

In [3]:
df

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363    male   68   190.0    94.0      29.0       105.0       40.8
1      14861698  female   20   166.0    60.0      14.0        94.0       40.3
2      11179863    male   69   179.0    79.0       5.0        88.0       38.7
3      16180408  female   34   179.0    71.0      13.0       100.0       40.5
4      17771927  female   27   154.0    58.0      10.0        81.0       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082  female   20   193.0    86.0      11.0        92.0       40.4
14996  17212577  female   27   165.0    65.0       6.0        85.0       39.2
14997  17271188  female   43   159.0    58.0      16.0        90.0       40.1
14998  18643037    male   78   193.0    97.0       2.0        84.0       38.3
14999  11751526    male   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 8 columns]

In [4]:
# Deleting unnessasary column
del df['User_ID']

In [5]:
# Converting categorical data into Numerical data
var = pd.get_dummies(df.Gender, prefix='Gender')
New_dataset = pd.concat([var, df], axis='columns')

In [6]:
#Droping the Categorical data
New_dataset.drop('Gender', axis='columns', inplace=True)

In [7]:
New_dataset

       Gender_female  Gender_male  Age  ...  Duration  Heart_Rate  Body_Temp
0                  0            1   68  ...      29.0       105.0       40.8
1                  1            0   20  ...      14.0        94.0       40.3
2                  0            1   69  ...       5.0        88.0       38.7
3                  1            0   34  ...      13.0       100.0       40.5
4                  1            0   27  ...      10.0        81.0       39.8
...              ...          ...  ...  ...       ...         ...        ...
14995              1            0   20  ...      11.0        92.0       40.4
14996              1            0   27  ...       6.0        85.0       39.2
14997              1            0   43  ...      16.0        90.0       40.1
14998              0            1   78  ...       2.0        84.0       38.3
14999              0            1   63  ...      18.0        92.0       40.5

[15000 rows x 8 columns]

In [8]:
# Seprating feature X
X = New_dataset.iloc[:,:-1]
X

       Gender_female  Gender_male  Age  Height  Weight  Duration  Heart_Rate
0                  0            1   68   190.0    94.0      29.0       105.0
1                  1            0   20   166.0    60.0      14.0        94.0
2                  0            1   69   179.0    79.0       5.0        88.0
3                  1            0   34   179.0    71.0      13.0       100.0
4                  1            0   27   154.0    58.0      10.0        81.0
...              ...          ...  ...     ...     ...       ...         ...
14995              1            0   20   193.0    86.0      11.0        92.0
14996              1            0   27   165.0    65.0       6.0        85.0
14997              1            0   43   159.0    58.0      16.0        90.0
14998              0            1   78   193.0    97.0       2.0        84.0
14999              0            1   63   173.0    79.0      18.0        92.0

[15000 rows x 7 columns]

In [9]:
# Seprating fetures y
y = New_dataset.iloc[:,-1]
y

0        40.8
1        40.3
2        38.7
3        40.5
4        39.8
         ...
14995    40.4
14996    39.2
14997    40.1
14998    38.3
14999    40.5
Name: Body_Temp, Length: 15000, dtype: float64

In [10]:
# Importing 'train_test_split' from sklearn library using sklearn and spliting the data in training and testing part.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
# Importing 'RandomForestRegressor'  from 'Ensemble' module using sklearn.

from sklearn.ensemble import RandomForestRegressor

In [12]:
# Creating a class with the name of Model and then passing how many tree we want to use in this algorithm.

model = RandomForestRegressor(n_estimators=50)

In [13]:
# Fitting our model on training dataset.

model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [14]:
# checking the accuracy level of Model.

model.score(X_test, y_test)

0.9196596178495468